<div class="container">
  <h1>welcome to the daycare 700</h1>

  <div class="daycare-card">
    <div class="daycare-title">
      <h3>Daycare Team : <%= current_user.first_name %> <%= current_user.last_name %></h3>
    </div>
    <div class="daycare-children">
      <% @children.each do |child| %>
        <% if child.profile_picture.attached? %>
          <div class="child-card">
            <div class="child-card-left">
              <%= link_to child_path(child) do %>
                <%= cl_image_tag child.profile_picture.key, class:"avatar-large" %>
                <p id="popup"><% child.first_name.capitalize %> <% child.last_name.capitalize %></p>
              <% end %>
            </div>
            <div class="child-card-right">
              <%= child.first_name.capitalize %>
            </div>
          </div>
        <% else %>
          <div class="child-initial">
            <%= child.first_name.first.capitalize %><%= child.last_name.first.capitalize %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
