<h1>welcome to the daycare 700</h1>

<div class="container">
  <div class="daycare-card">
    <div class="daycare-title">
      <h3>Daycare Team : <%= current_user.first_name %> <%= current_user.last_name %></h3>
    </div>
    <div class="daycare-children">
      <% @children.each do |child| %>
        <% if child.profile_picture.attached? %>
          <div class="child-card">
            <%= cl_image_tag child.profile_picture.key %>
          </div>
        <% else %>
          <div class="child-initial">
            <%= child.first_name.first.capitalize %><%= child.last_name.first.capitalize %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
