<div class="container">
  <% if current_user.role == "parent" && current_user.children.count > 1 %>
    <div class="d-flex justify-content-center">
      <% current_user.children.each do |child| %>
        <%= cl_image_tag child.profile_picture.key, class: 'avatar-large', crop: :fill %>
      <% end %>
    </div>
  <% end %>

  <div>
    <h1><%= cl_image_tag @child.profile_picture.key, class: 'avatar-large', crop: :fill %> <%= @child.first_name %> <%= @child.last_name %></h1>
  </div>

  <h2>Activity log of <%= @child.first_name %></h2>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Category</th>
      <th scope="col">Sub-category</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @child.activities.each do |activity| %>
      <tr>
        <th scope="row"><%= activity.time.strftime("%Hh%M") %></th>
        <td><%= activity.category %></td>
        <td><%= activity.sub_category %></td>
        <td><%= activity.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
