<nav class="navbarcontainer">
  <a href="/"><div class= "nav-left">
    <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630661584/logo_draft1_it4ypr.svg" alt="Daycare Diary logo" class="avatar">
    <h6>DAYCARE DIARY</h6>
  </div></a>

  <% if user_signed_in? %>
    <% if current_user.role == "employee" %>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.user_picture.attached? %>
            <%= cl_image_tag current_user.user_picture.key, class: 'avatar', crop: :fill %>
          <% else %>
            <%= current_user.first_name %> <%= current_user.last_name %>
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "My Daycare", children_path, class:"dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
        </div>
      </div>
    <% elsif current_user.role == "parent" %>
      <div class="dropdown">
       <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.user_picture.attached? %>
            <%= cl_image_tag current_user.user_picture.key, class: 'avatar', crop: :fill %>
          <% else %>
            <%= current_user.first_name %> <%= current_user.last_name %>
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "My kid(s)", child_path(current_user.parenthoods.first.child), class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
        </div>
      </div>
    <%end%>

  <%else%>
    <div>
      <a id="main-btn" href="/users/sign_in" role="button">LOGIN</a>
    </div>

  <%end%>
</nav>
