<div class="dd-background">
  <div class="dd-banner">
    <div class="d-flex flex-column">
      <h1>Daycare Diary</H1>
      <h3>FAST & EASY WAY TO COMMUNICATE WITH PARENTS</h3>
    </div>
    <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630611141/Drawkit-Illustrations-Education-1-10_1_ylgsao.png" alt="banner-image" class="banner-image" sizes="(max-width:1024px) 100vw, 1024px">
  </div>

  <div class="dd-brief-container">
    <h3>Intuitive, Robust, Reliable </h3>
    <%= "A comprehensive solution to manage every aspect of your daycare for hassle-free, transparent communication with parent " %>
  </div>
</div>

<div class="container">
  <div class="dd-feature-container">
    <div class="row justify-content-between mb-5">
      <div class="desc-section col col-lg-3 mb-5">
        <div class="desc-top">
          <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630571787/checked-1_ejd8fz.svg" alt="check" class="desc-icon">
          <div class="desc-text">Time Log</div>
        </div>
        <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
      </div>
      <div class="desc-section col col-lg-3 mb-5">
        <div class="desc-top">
          <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630571780/child-attendance_gzfkgy.svg" alt="daily" class="desc-icon">
          <div class="desc-text">Daily Report</div>
        </div>
        <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
      </div>
      <div class="desc-section col col-lg-3 mb-5">
        <div class="desc-top">
          <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630571736/working-hours_rp303n.svg" alt="time" class="desc-icon">
          <div class="desc-text">Sleeptime Log</div>
        </div>
        <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="desc-section col col-lg-3">
        <div class="desc-top">
          <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630571761/food-plan_jjric2.svg" alt="eat" class="desc-icon">
          <div class="desc-text">Nutirition Log</div>
        </div>
        <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
      </div>
      <div class="desc-section col col-lg-3">
        <div class="desc-top">
          <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630571787/beach-umbrella_h9syhy.svg" alt="play" class="desc-icon">
          <div class="desc-text">Playtime Log</div>
        </div>
        <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
      </div>
      <div class="desc-section col col-lg-3">
        <div class="desc-top">
          <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630571770/documents_rvoo99.svg" alt="docu" class="desc-icon">
          <div class="desc-text">Document Sharing</div>
        </div>
        <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="dd-brief-container">
    <h3>Set up Your Daycare Diary in 3 Easy Steps</h3>
  </div>

  <div class="dd-process-container">
    <div class="row justify-content-between">
      <div class="process-section col col-lg-3">
        <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630672292/Drawkit-Illustrations-Education-1-10_1_mskgsh.svg" alt="add day care" class="desc-image">

        <div class="process-right">
          <div class="desc-text">Create Your Daycare</div>
          <%= "Enter your daycare information & contact details" %>
        </div>
      </div>
      <div class="process-section col col-lg-3">
        <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630672292/Drawkit-Illustrations-Education-1-10_2_vrysmz.svg" alt="add staffs" class="desc-image">

        <div class="process-right">
          <div class="desc-text">Add Staffs & Classes</div>
          <%= "Create classes & groups. Add your teachers and staffs" %>
        </div>
      </div>
      <div class="process-section col col-lg-3">
        <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630672292/Drawkit-Illustrations-Education-1-10_3_yed1ve.svg" alt="add child" class="desc-image">

        <div class="process-right">
          <div class="desc-text">Add Children & Parents</div>
          <%= "Add your children with their parents to send auto invites" %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="container-grey-border">
    <div class="dd-contact-container">
      <h5>Contact Us and Try your Daycare Diary Today!</h5>
    </div>

    <div class="dd-contactform">
      <div class="row justify-content-between">
        <div class="process-section col col-lg-5">
          <%= "IF you are interested in PR, please send us email to :
              daycarediary@daycarediary.com" %>
              <br>
              <br>
          <%= "IF you are interested in pricing :
              daycarediary@daycarediary.com" %>
              <br>
              <br>
          <%= "IF you’d like to call us :
              +31 64 00 00 00" %>
              <br>
              <br>
          <%= "IF you’d like to vist us :
              blah blah blah, 3061 NZ, Amsterdam" %>
        </div>
        <div class="process-section col col-lg-4">
          <form>
            <div class="row">
              <div class="form-inputs col">
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="form-inputs col">
                <input type="text" class="form-control" placeholder="Last name">
              </div>
            </div>
            <div class="row">
              <div class="form-inputs col">
                <input type="text" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="row">
              <div class="form-inputs col">
                <input type="text" class="form-control" placeholder="Phone number">
              </div>
            </div>
            <div class="row">
              <div class="form-inputs col">
                <input type="text" class="form-control"  id="comment-box" placeholder="Leave your comments here">
              </div>
            </div>
            <div class="row">
              <div class="form-inputs col d-flex justify-content-around">
                <button>submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
