<div class="dd-background">
  <div class="dd-banner">
    <h1>FAST & EASY WAY TO COMMUNICATE WITH PARENTS</h1>
  </div>

  <div class="dd-brief">
    <h3>Intuitive, Robust, Reliable </h3>
    <%= "A comprehensive solution to manage every aspect of your daycare for hassle-free, transparent communication with parent " %>
  </div>
</div>

<div class="dd-feature-container">
  <div class="feature-top">
    <div class="desc-section">
      <div class="desc-top">
        <img src="" alt="check">
      </div>
      <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
    </div>
    <div class="desc-section">
      <div class="desc-top">
        <img src="" alt="check">
      </div>
      <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
    </div>
    <div class="desc-section">
      <div class="desc-top">
        <img src="" alt="check">
      </div>
      <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>s
    </div>
  </div>
  <div class="feature-bottom">≈
    <div class="desc-section">
      <div class="desc-top">
        <img src="" alt="check">
      </div>
      <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
    </div>
    <div class="desc-section">
      <div class="desc-top">
        <img src="" alt="check">
      </div>
      <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
    </div>
    <div class="desc-section">
      <div class="desc-top">
        <img src="" alt="check">
      </div>
      <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
    </div>
  </div>
</div>

<div class="dd-contactform">

</div>
