<div class="dd-background">
  <div class="dd-banner">
    <h1>FAST & EASY WAY TO COMMUNICATE WITH PARENTS</h1>
  </div>

  <div class="dd-brief-container">
    <h3>Intuitive, Robust, Reliable </h3>
    <%= "A comprehensive solution to manage every aspect of your daycare for hassle-free, transparent communication with parent " %>
  </div>
</div>

<div class="dd-feature-container">
  <div class="row justify-content-md-center">
    <div class="desc-section col col-lg-3">
      <div class="desc-top">
        <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630571787/checked-1_ejd8fz.svg" alt="check">
        <div class="desc-text">Time Log</div>
      </div>
      <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
    </div>
    <div class="desc-section col col-lg-3">
      <div class="desc-top">
        <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630571780/child-attendance_gzfkgy.svg" alt="daily">
        <div class="desc-text">Daily Report</div>
      </div>
      <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
    </div>
    <div class="desc-section col col-lg-3">
      <div class="desc-top">
        <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630571736/working-hours_rp303n.svg" alt="time">
        <div class="desc-text">Sleeptime Log</div>
      </div>
      <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="desc-section col col-lg-3">
      <div class="desc-top">
        <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630571761/food-plan_jjric2.svg" alt="eat">
        <div class="desc-text">Nutirition Log</div>
      </div>
      <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
    </div>
    <div class="desc-section col col-lg-3">
      <div class="desc-top">
        <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630571787/beach-umbrella_h9syhy.svg" alt="play">
        <div class="desc-text">Playtime Log</div>
      </div>
      <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
    </div>
    <div class="desc-section col col-lg-3">
      <div class="desc-top">
        <img src="https://res.cloudinary.com/dvrahrooa/image/upload/v1630571770/documents_rvoo99.svg" alt="docu">
        <div class="desc-text">Document Sharing</div>
      </div>
      <%= "Create, manage, & share events and holidays. Send invites with RSVPs to parents & staff" %>
    </div>
  </div>
</div>

 <div class="dd-brief-container">
    <h3>Set up Your Daycare Diary in 3 Easy Steps</h3>
  </div>

<div class="dd-process-container">
  <div class="row justify-content-md-center">
    <div class="process-section col col-lg-3">
      <div class="number">1</div>
      <div class="process-right">
        <div class="desc-text">Create Your Daycare</div>
        <%= "Enter your daycare information & contact details" %>
      </div>
    </div>
     <div class="process-section col col-lg-3">
      <div class="number">2</div>
      <div class="process-right">
        <div class="desc-text">Add Staffs & Classes</div>
        <%= "Create classes & groups; Add your teachers and staffs" %>
      </div>
    </div>
     <div class="process-section col col-lg-3">
      <div class="number">3</div>
      <div class="process-right">
        <div class="desc-text">Add Children & Parents</div>
        <%= "Add your children with their parents to send auto invites" %>
      </div>
    </div>
  </div>
</div>


<div class="dd-brief-container">
  <h5>Contact Us and Try your Daycare Diary Today!</h5>
</div>

<div class="dd-contactform">
  <div class="row justify-content-md-center">
    <div class="process-section col col-lg-4">
      <%= "if you are interested in PR, please send us email to :
          daycarediary@daycarediary.com" %>
          <br>
      <%= "if you are interested in pricing :
          daycarediary@daycarediary.com" %>
          <br>
      <%= "if you’d like to call us :
          +31 64 00 00 00" %>
          <br>
      <%= "if you’d like to vist us :
          blah blah blah, 3061 NZ, Amsterdam" %>
    </div>
    <div class="process-section col col-lg-4">
      <%= bootstrap_form_tag url: '/subscribe' do |f| %>
        <%= f.email_field :email, value: 'name@example.com' %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
